<header>
  <div id="logo" routerLink="/">
      <img  src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.22.8/mercadolibre/logo__large_plus.png" alt="img">

  </div>
  <div>
      <input type="text" placeholder="Buscar productos, marcas y mas... " >
  </div>
  <div id="imgOferta">
      <img src="https://http2.mlstatic.com/D_NQ_988105-MLA54625219687_032023-OO.webp" alt="img">
      
  </div>

</header>

<header style="display: flex; justify-content: space-around; color: rgb(63, 62, 62);">
  <div>
      <p>Categoria</p>
  </div>
  <div style="display: flex; justify-content: space-between; width: 45%;">
      <p>Historial</p>
      <p>Tiendas oficiales</p>
      <p>Ofertas de la semana</p>
      <p>Vender</p>
      <p>Ayuda</p>
  </div>
  <div style="display: flex; justify-content: space-between; width: 20%;">
      <p>Eduardo</p>
      <p>Mis compras</p>
      <p>Favoritos</p>
  </div>
</header>

 
<router-outlet></router-outlet>